<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @employee.age %>
</p>

<p>
  <strong>Date of joining:</strong>
  <%= @employee.date_of_joining %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @employee.designation %>
</p>

<p>
  <strong>Project:</strong>
  <%= @employee.project.name %>
</p>

<h3>Skills:</h3>
<%= render @employee.skills %>

<h3>Add a skill:</h3>
<%= render 'skills/form' %>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
